<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/projects">GitHub Projects</a></li>
			<li><a href="/resume">Resume</a></li>
		</ul>
    </nav>
	<div class="container">
		{{ content }}
	</div>
	<footer>
		<ul>
			<li>email: <a href="mailto:krishan7603@gmail.com">krishan7603@gmail.com</a></li>
			<li>GitHub Repo: <a href="https://github.com/krishan7601">github.com/krishan7601</a></li>
		</ul>
	</footer>
  </body>
</html>
